{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block title %}
    ALMSolutions | Fornecedores
{% endblock %}


{% block main %}
<div class="container-sm" id="content-page">
    
    <table class="table table-hover" id="client_table">
        <thead>
            <th>Nome</th>
            <th>Nome Fantasia</th>
            <th>Email</th>
            <th>Telefone</th>

            <th>Editar</th>
            <th>Deletar</th>
        </thead>

        {% for fornecedor in fornecedores %}
        <tbody>
            <tr>
                <td>{{ fornecedor.nome }}</td>
                <td>{{ fornecedor.sobrenome }}</td>
                <td>{{ fornecedor.email }}</td>
                <td>{{ form.celular }}</td>
                <td><a href="{% url 'atualizafornecedor' fornecedor.id_fornecedor %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a href="#" data-toggle="modal" data-target="#apagar_fornecedor" data-nome="{{ fornecedor.nome }}" data-id_fornecedor="{{fornecedor.id_fornecedor}}">
                    <i class="fa fa-trash" aria-hidden="true"></i></a></td>

            </tr>
            
            <script src="{% static 'js/telefone.js' %}"></script>
        
            </tbody>
        {% endfor %}
    </table>
                
    <!--Botão de Cadastro-->
    <a href="{% url 'cadastrofornecedor' %}" class="btn-float" id="novo-fornecedor">
        <i class="fa fa-plus"></i>
    </a>

    <!--Seta Topo-->
    {% include 'includes/seta-topo.html' %}

    <!--Modal de Exclusão-->
    {% include 'includes/modal_apagar_fornecedor.html' %}


</div><!--/content-page-->


{% endblock %}
