{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block title %}
    ALMSolutions | Eventos
{% endblock %}

{% block main %}

<form method="POST" id="form_event" class="mx-auto">
    {% csrf_token %}
    <div class="container">
        <ul>
            {{ form.errors }}
            {{ form.non_field_errors }}
            <li> summary: {{ form.summary }} </li>
            <li> start: {{ form.start }} </li>
            <li> end: {{ form.end }} </li>
            <li> location: {{ form.location }} </li>
            <li> description: {{ form.description }} </li>
            <li> attendees: {{ form.email }} </li>
         </ul>
        <button class="btn btn-primary" type="submit" value="Salvar">Salvar</button>
    </div>
    <input type="hidden" name="uidd" id="eventId" value="{{uidd}}" />
</form>

<!-- Libraries for datapicker -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment-with-locales.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/2.0.1/js/bootstrap-datetimepicker.min.js" type=" text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/2.0.1/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>

<script type="text/javascript">

    function getCalendarEventData(calEventId) {

        try {

            return JSON.parse(localStorage.getItem(calEventId));

        } catch(e) {

            console.error(e);

            return null;
        }
    }

    function loadCalendarEventData(calEventData) {

        $('#id_description').val(calEventData.description);
        $('#id_summary').val(calEventData.summary);
        $('#id_location').val(calEventData.location);
        $('#id_start').val(calEventData.start);
        $('#id_end').val(calEventData.end);
        $('#id_email').val(calEventData.attendees.join(','));

    }

    $(function(e){

        $('#id_start,#id_end').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});

        var calEventId = $('#eventId').val();
        var calEventData = getCalendarEventData(calEventId);

        if (calEventData) {
            loadCalendarEventData(calEventData);
            try {
            localStorage.removeItem(calEventData.uidd);
            } catch(e) {
                console.error(e);
            }
        }

    });
</script>

{% endblock %}
